<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Alta cliente</title>

	<script type="text/javascript">
		function validar(){
			var campo = ['nombreGimnasio','nombreResponsable','apellido1Responsable','fechaNacimiento','domicilioCalle','domicilioLocalidad','domicilioCp','cifNif','visibilidadContratada','cantidadRegistrosContratados','telefono','correo'];
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
				if(nombreRol.value==''){
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

			var documento = document.getElementById('cifNif').value
			if(!nullOrEmpty(documento) && !validarCif(documento) && !validarNifNie(documento)){
				document.getElementById('cifNifError').innerHTML = "Error en formato del CIF/NIF/NIE";
				validado = false;
			}

			if(!validarEmail(document.getElementById('correo').value)){
				document.getElementById('correoError').innerHTML = "Error en formato del correo electrónico";
				validado = false;
			}

			if(!mayorEdad(document.getElementById('fechaNacimiento').value, 18)){
				document.getElementById('fechaNacimientoError').innerHTML = "El responsable debe ser mayor de edad";
				validado = false;
			}

			if(validado){
				return true;
			} else {
				document.getElementById('hayError').innerHTML = "Por favor verifique errores (formatos y campos obligatorios)";
				return false;
			}
		}

		function restablecer(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].innerHTML='';
			}

			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>
	
	<div class="container">
		<section class="margenArribaAbajo3Porc">
			<div th:if="${addProblem != null}" class="alert alert-danger" role="alert"><span th:text="${addProblem}"></span></div>
			<div th:if="${updateProblem != null}" class="alert alert-danger" role="alert"><span th:text="${updateProblem}"></span></div>
		</section>

		<section>
			<div class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/gimnasioRoot/customers}">Volver</a>
				</div>
			</div>
			<div class="row mb-1">
				<div class="col-12 colorGreen">
					<h1 th:text="${customer.nombreGimnasio}"></h1>
				</div>
			</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ROOT')">

			<form action="#" th:action="@{/gimnasioRoot/customers}" th:object="${customer}" method="post" onsubmit="return validar()">

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="nombreGimnasio">Nombre gimnasio*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{nombreGimnasio}" id="nombreGimnasio" class="form-control" placeholder="Nombre gimnasio"/>
					</div>
					<div class="col-md-2">
						<span id="nombreGimnasioError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="nombreResponsable">Nombre responsable*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{nombreResponsable}" id="nombreResponsable" class="form-control" placeholder="Nombre responsable"/>
					</div>
					<div class="col-md-2">
						<span id="nombreResponsableError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="apellido1Responsable">Primer apellido responsable*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{apellido1Responsable}" id="apellido1Responsable" class="form-control" placeholder="Primer apellido responsable" />
					</div>
					<div class="col-md-2">
						<span id="apellido1ResponsableError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="apellido2Responsable">Segundo apellido responsable</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{apellido2Responsable}" id="apellido2Responsable" class="form-control" placeholder="Segundo apellido responsable" />
					</div>
					<div class="col-md-2">
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="fechaNacimiento">Fecha de nacimiento responsable*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento" class="form-control" placeholder="Fecha de nacimiento" />
					</div>
					<div class="col-md-2">
						<span id="fechaNacimientoError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="telefono">Teléfono*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{telefono}" id="telefono" class="form-control" placeholder="Teléfono" />
					</div>
					<div class="col-md-2">
						<span id="telefonoError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="correo">Correo*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{correo}" id="correo" class="form-control" placeholder="Correo" />
					</div>
					<div class="col-md-2">
						<span id="correoError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="domicilioCalle">Calle gimnasio*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{domicilioCalle}" id="domicilioCalle" class="form-control" placeholder="Calle" />
					</div>
					<div class="col-md-2">
						<span id="domicilioCalleError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="domicilioNumero">Número</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{domicilioNumero}" id="domicilioNumero" class="form-control" placeholder="Número" />
					</div>
					<div class="col-md-2">
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="domicilioOtros">Más datos</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{domicilioOtros}" id="domicilioOtros" class="form-control" placeholder="Más datos" />
					</div>
					<div class="col-md-2">
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="domicilioLocalidad">Localidad*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{domicilioLocalidad}" id="domicilioLocalidad" class="form-control" placeholder="Localidad" />
					</div>
					<div class="col-md-2">
						<span id="domicilioLocalidadError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="domicilioCp">Código postal*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{domicilioCp}" id="domicilioCp" class="form-control" placeholder="Código postal" />
					</div>
					<div class="col-md-2">
						<span id="domicilioCpError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="cifNif">CIF / NIF*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{cifNif}" id="cifNif" class="form-control" placeholder="CIF NIF" />
					</div>
					<div class="col-md-2">
						<span id="cifNifError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="visibilidadContratada">Visibilidad contratada*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{visibilidadContratada}" id="visibilidadContratada" class="form-control" placeholder="Visibilidad contratada" />
					</div>
					<div class="col-md-2">
						<span id="visibilidadContratadaError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-md-2">
					</div>
					<div class="col-4 col-md-4">
						<label for="cantidadRegistrosContratados">Cantidad registros contratados*</label>
					</div>
					<div class="col-8 col-md-4">
						<input type="text" th:field="*{cantidadRegistrosContratados}" id="cantidadRegistrosContratados" class="form-control" placeholder="Cantidad registros contratados" />
					</div>
					<div class="col-md-2">
						<span id="cantidadRegistrosContratadosError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

				<div class="row align-items-center justify-content-end mb-3">
					<div class="col-3">
						<a class="btn btn-info" href="#" th:href="@{/gimnasioRoot/customers}">Volver</a>
					</div>
					<div class="col-4 col-md-2">
						<button class="btn btn-success" id="continueButton" type="submit">Dar de alta</button>
					</div>
				</div>

				<div class="row align-items-center justify-content-end text-center mb-3">
					<div class="col-12">
						<span id="hayError" name="errorSpan" class="colorRed"></span>
					</div>
				</div>

			</form>
		</section>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>