<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>
	
	<title>Parámetros</title>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>
	
	<div class="container">
		<section class="margenArribaAbajo3Porc text-center">
			<div th:if="${updateOK != null}" class="alert alert-success" role="alert"><span th:text="${updateOK}"></span></div>
		</section>
	
		<section>
			<div class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/principal/}">Volver</a>
				</div>
			</div>
			<div class="row mb-1 text-center">
				<div class="col-12 colorGreen">
					<h1>Parámetros</h1>
				</div>
			</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ROOT')">
			<form action="#" th:action="@{/adminUtil/root-update-util}" th:object="${utilModel}" method="post">
				<input type="hidden" th:field="*{clave}" />

				<div class="row mb-3">
					<div class="col-5 col-sm-3">
						<label th:for="${utilModel.clave}">
							<span th:text="#{${utilModel.clave}}"></span>
						</label>
					</div>
					<div class="col-7 col-sm-6 mb-3">
						<input type="text" th:field="*{valor}" class="form-control" />
					</div>
					<div class="col-6 d-sm-none">
					</div>
					<div class="col-6 col-sm-3">
						<button class="btn btn-primary" type="submit"><span th:text="#{actualizar}"></span></button>
					</div>
				</div>

			</form>

		</section>

		<div class="row align-items-center justify-content-end">
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/principal/}">Volver</a>
			</div>
		</div>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>