<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Mandato autorización</title>

	<script type="text/javascript">
		function confirmDelete(id){
			if(confirm("¿Seguro que desea eliminar el mandato?")){
				var relativeUrl = "adminMandato/remove/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
				return true;
			}
			return false;
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>

	<div class="container">
		<section>
			<div class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/adminMandato/}">Volver</a>
				</div>
			</div>
			<div class="row mb-1 text-center">
				<div class="col-12 colorGreen">
					<h1>Detalles mandato para tramitación de Licencia Federativa</h1>
				</div>
			</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ADMIN')">
			<div th:if="${mandatoModel.mandatoFirmado}" class="row mb-1">
				<div class="col-md-2 apartado">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="nombre">Licencia abonada</label>
				</div>
				<div class="col-7 col-md-6">
					<label class="containercheckbox">
						<a href="#" th:href="@{/adminMandato/pay/__${mandatoModel.id}__}">
							<input type="checkbox" th:checked="${mandatoModel.licenciaAbonada}">
							<span class="checkmark"></span>
						</a>
					</label>
				</div>
				<div class="col-2">
					<form action="#" method="POST" th:action="@{/mandato/descargarPdf}" th:object="${mandatoModel}">
						<input type="hidden" name="id" th:value="${mandatoModel.id}"/>
						<button class="btn btn-success" type="submit">Descarga</button>
					</form>
				</div>
			</div>
		</section>

		<section th:if="${!mandatoModel.mandatoFirmado}">
			<div class="alert alert-danger textAlignCenter" role="alert">El mandato no está firmado</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="row mb-1">
				<div class="col-md-2 apartado">
					<span>Datos del adulto</span>
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="nombre">Nombre</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.nombreMandante}" id="nombre" class="form-control" placeholder="Nombre" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="apellido1">Primer apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.apellido1Mandante}" id="apellido1" class="form-control" placeholder="Primer apellido" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="apellido2">Segundo apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.apellido2Mandante}" id="apellido2" class="form-control" placeholder="Segundo apellido" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="correoMandante">Correo electrónico</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.correoMandante}" id="correoMandante" class="form-control" placeholder="Correo" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="dni">DNI</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${mandatoModel.dniMandante}" id="dni" class="form-control" placeholder="12345678A" size="60" disabled/>
				</div>
				<div class="col-5 col-md-5">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="fechaAlta">Fecha alta</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${#calendars.format(mandatoModel.fechaAlta,'dd/MM/yyyy HH:mm')}" id="fechaAlta" class="form-control" placeholder="Fecha alta" size="60" disabled/>
				</div>
				<div class="col-5 col-md-5">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="temporada">Temporada</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${mandatoModel.temporada}" id="temporada" class="form-control" placeholder="Temporada" size="60" disabled/>
				</div>
				<div class="col-5 col-md-5">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<span>Domicilio</span>
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioCalle">Tipo y nombre vía</label>
				</div>
				<div class="col-6">
					<input type="text" th:value="${mandatoModel.domicilioCalle}" id="domicilioCalle" class="form-control" placeholder="Tipo y nombre de vía" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-4 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioNumero">Número</label>
				</div>
				<div class="col-6">
					<input type="text" th:value="${mandatoModel.domicilioNumero}" id="domicilioNumero" class="form-control" placeholder="Número" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-4 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioOtros">Otros datos</label>
				</div>
				<div class="col-6">
					<input type="text" th:value="${mandatoModel.domicilioOtros}" id="domicilioOtros" class="form-control" placeholder="Otros datos (piso, escalera, etc.)" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-4 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioLocalidad">Localidad</label>
				</div>
				<div class="col-6">
					<input type="text" th:value="${mandatoModel.domicilioLocalidad}" id="domicilioLocalidad" class="form-control" placeholder="Localidad" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-4 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioCp">Código postal</label>
				</div>
				<div class="col-6">
					<input type="text" th:value="${mandatoModel.domicilioCp}" id="domicilioCp" class="form-control" placeholder="Código postal" size="60" disabled/>
				</div>
			</div>
		</section>
		<section th:if="${!mandatoModel.adulto}" sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="row mb-3">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="idCalidad">En calidad de</label>
				</div>
				<div class="col-3 col-md-2">
					<input th:if="${mandatoModel.calidad != null}" type="text" th:value="${mandatoModel.calidad}" id="idCalidad" class="form-control" placeholder="Calidad" size="60" disabled/>
				</div>
				<div class="col-6">
					<input th:if="${mandatoModel.calidadOtro != null}" type="text" th:value="${mandatoModel.calidadOtro}" id="calidadOtro" placeholder="rellenar si selecciona 'Otro'" class="form-control displayNone" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2 apartado">
					<span>Datos del autorizado</span>
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="menorNombre">Nombre</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.nombreAutorizado}" id="menorNombre" class="form-control" placeholder="Nombre del autorizado" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="menorApellido1">Primer apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.apellido1Autorizado}" id="menorApellido1" class="form-control" placeholder="Primer apellido del autorizado" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="menorApellido2">Segundo apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${mandatoModel.apellido2Autorizado}" id="menorApellido2" class="form-control" placeholder="Segundo apellido del autorizado" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="menorDni">DNI</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${mandatoModel.dniAutorizado}" id="menorDni" class="form-control" placeholder="DNI del autorizado" size="15" disabled/>
				</div>
				<div class="col-5 col-md-5">
				</div>
			</div>
		</section>
		<section sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="idPais">País de residencia</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${mandatoModel.pais}" id="idPais" class="form-control" placeholder="País" size="60" disabled/>
				</div>
				<div class="col-5">
				</div>
			</div>

			<div class="row align-items-center justify-content-end">
				<div class="col-5">
					<button class="btn btn-danger" th:attr="onclick=|confirmDelete('${mandatoModel.id}')|">Borrar mandato</button>
				</div>
				<div class="col-3">
				</div>
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/adminMandato/}">Volver</a>
				</div>
			</div>
		</section>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>