<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Usuarios</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="#" th:href="@{/css/style.css}" />

    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script>
        function changeRole(username){
            var relativeUrl = "usuario/rol/" + username + "/" + document.getElementById("rolSelect" + username).value;
            var domain = getDomain(location.href);
            location.href = domain + relativeUrl;
        }

        function viewDetail(username){
            var relativeUrl = "usuario/users/" + username;
            var domain = getDomain(location.href);
            location.href = domain + relativeUrl;
        }
    </script>

</head>
<body>
    <section>
        <div th:if="${updateOK != null}" class="alert alert-success textAlignCenter" role="alert"><span th:text="${updateOK}"></span></div>
        <div th:if="${reseteoClaveCorrecto != null}" class="alert alert-success textAlignCenter" role="alert"><span th:text="${reseteoClaveCorrecto}"></span></div>
        <div th:if="${eliminacionCorrecta != null}" class="alert alert-success textAlignCenter" role="alert"><span th:text="${eliminacionCorrecta}"></span></div>
        <div th:if="${eliminacionError != null}" class="alert alert-danger textAlignCenter" role="alert"><span th:text="${eliminacionError}"></span></div>
    </section>

    <div class="container">
        <h1>¡Hola <span th:text="${usuario.name}"></span>! <a href="#" th:href="@{/usuario/formularioUsuario}"><span class="glyphicon glyphicon-user"></span></a></h1>

        <nav class="navbar navbar-default" role="navigation">
            <form th:action="@{/logout}" method="POST">
                <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
            </form>
        </nav>

        <section>
            <div class="row">
                <div class="col-xs-2 mb-1">
                </div>

                <div class="col-xs-8 mb-10 colorGreen">
                    <h1>Usuarios</h1>
                </div>

                <div class="col-xs-2 mb-1">
                    <a class="btn btn-info pull-right" href="#" th:href="@{/adminGimnasio/}">Volver</a>
                </div>
            </div>
        </section>
    </div>
    <section sec:authorize="hasRole('ROLE_ADMIN')">
        <table class="table table-hover sortable">
            <thead>
            <tr>
                <th>
                    <button>
                        DNI
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <button>
                        Nombre
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <button>
                        Primer apellido
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <button>
                        Segundo apellido
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <button>
                        Correo
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <button>
                        Fecha alta
                        <span aria-hidden="true"></span>
                    </button>
                </th>
                <th>Habilitado</th>
                <th>Rol</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}" th:attr="onclick=|viewDetail('${user.username}')|">
                <td><span th:text="${user.username}"></span></td>
                <td><span th:text="${user.name}"></span></td>
                <td><span th:text="${user.lastname}"></span></td>
                <td><span th:text="${user.secondLastname}"></span></td>
                <td><span th:text="${user.correo}"></span></td>
                <td><span th:text="${#calendars.format(user.fechaAlta,'dd/MM/yyyy')}"></span></td>
                <td>
                    <label class="containercheckbox">
                        <input type="checkbox" th:checked="${user.enabled}">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td><span th:text="${user.userRoles[0]}"></span></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <div class="row">
            <div class="col-xs-10">
            </div>
            <div class="col-xs-2">
                <a class="btn btn-info pull-right" href="#" th:href="@{/adminGimnasio/}">Volver</a>
            </div>
        </div>
    </section>
</body>
</html>