<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Parámetros</title>

	<script th:inline="javascript">
		function mostrarClave() {
			var x = document.getElementById("clave.correo");
				if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
    </script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>

	<div class="container">
		<section class="margenArribaAbajo3Porc text-center">
			<div th:if="${updateOK != null}" class="alert alert-success" role="alert"><span th:text="${updateOK}"></span></div>
		</section>

		<section>
			<div class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/adminGimnasio/}">Volver</a>
				</div>
			</div>
			<div class="row mb-1 text-center">
				<div class="col-12 colorGreen">
					<h1>Parámetros <span th:text="${gimnasio.nombreGimnasio}"></span></h1>
				</div>
			</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ADMIN')" class="backgroundColorLightOrange margenAbajo2Porc">
			<form action="#" th:action="@{/adminUtil/updateUtil}" th:object="${utilModel}" method="post" th:each="unit : ${utilListCorreo}">
				<div class="row mb-3">

					<input type="hidden" name="clave" th:value="${unit.clave}"/>

					<div th:if="${unit.clave == 'clave.correo' and unit.codigoGimnasio == -1}" class="col-12 col-md-4">
						<label th:for="${unit.clave}">
							<span th:text="#{${unit.clave}}"></span>
							<span th:text="#{ya.existe.clave}" class="text-success"></span>
						</label>
					</div>

					<div th:if="${unit.clave == 'clave.correo' and unit.codigoGimnasio != -1}" class="col-12 col-md-4">
						<label th:for="${unit.clave}">
							<span th:text="#{${unit.clave}}"></span>
							<span th:text="#{no.existe.clave}" class="text-danger"></span>
						</label>
					</div>

					<div th:if="${unit.clave != 'clave.correo'}" class="col-12 col-md-4">
						<label th:for="${unit.clave}">
							<span th:text="#{${unit.clave}}"></span>
						</label>
					</div>

					<div class="col-8 col-md-5">
						<input th:if="${unit.clave} != clave.correo" type="text" th:value="${unit.valor}" name="valor" th:id="${unit.clave}" class="form-control" />
						<input th:if="${unit.clave} == clave.correo" type="password" th:value="${unit.valor}" name="valor" th:id="${unit.clave}" class="form-control" />
					</div>

					<div class="col-4 col-md-3">
						<button class="btn btn-primary" type="submit"><span th:text="#{actualizar}"></span></button>
					</div>

					<div th:if="${unit.clave} == clave.correo" class="col-12">
						<input type="checkbox" onclick="mostrarClave()"><span th:text="#{mostrar.clave}"></span>
					</div>
				</div>
			</form>

			<form action="#" th:action="@{/adminUtil/updateHost}" th:object="${utilModel}" method="post">
				<input type="hidden" name="clave" th:value="${utilHost.clave}"/>
				<div class="row mb-3">
					<div class="col-6 col-md-4">
						<label th:for="host.email"><span th:text="#{host.name}"></span></label>
					</div>
					<div class="col-6 col-md-5">
						<select name="valor" id="host.email" class="form-select" onchange="this.form.submit()">
							<option th:each="unitHost : ${utilListHost}" th:value="${unitHost.valor}" th:text="${unitHost.clave}" th:selected="${unitHost.valor == utilHost.valor}"></option>
						</select>
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</form>
		</section>

		<section sec:authorize="hasRole('ROLE_ADMIN')" class="margenAbajo2Porc" th:each="unitInscripciones : ${utilListInscripciones}">

			<form action="#" th:action="@{/adminUtil/updateUtil}" th:object="${utilModel}" method="post">
				<input type="hidden" name="clave" th:value="${unitInscripciones.clave}"/>
				<div class="row mb-3">
					<div class="col-6">
						<label th:for="${unitInscripciones.clave}"><span th:text="#{${unitInscripciones.clave}}"></span></label>
					</div>
					<div class="col-4">
						<select name="valor" class="form-select" onchange="this.form.submit()">
							<option th:each="lsn : ${listaSiNo}" th:value="${lsn.valor}" th:text="${lsn.clave}" th:selected="${lsn.valor == unitInscripciones.valor}"></option>
						</select>
					</div>
					<div class="col-2">
					</div>
				</div>
			</form>
		</section>

<!-- TODO DAMIAN esto está mal!!! no debe apuntar a adminGimnasio/updateGimnasio -->
		<section sec:authorize="hasRole('ROLE_ADMIN')" class="backgroundColorAquamarine margenAbajo2Porc">
			<form action="#" th:action="@{/adminGimnasio/updateGimnasio}" th:object="${gimnasioModel}" method="post">

				<input type="hidden" name="id" th:value="${gimnasioModel.id}"/>

				<div class="row mb-1">
					<div class="col-5 col-md-3">
						<label for="nombreGimnasio">Nombre gimnasio</label>
					</div>
					<div class="col-7 col-md-6">
						<input type="text" th:field="*{nombre}" id="nombreGimnasio" class="form-control" placeholder="Nombre gimnasio"/>
					</div>
					<div class="col-md-3">
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-8 col-md-9">
					</div>
					<div class="col-4 col-md-3">
						<button class="btn btn-primary" type="submit">Actualizar</button>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-5 col-md-3">
						<label for="direccionGimnasio">Dirección gimnasio</label>
					</div>
					<div class="col-7 col-md-6">
						<input type="text" th:field="*{direccion}" id="direccionGimnasio" class="form-control" placeholder="Dirección gimnasio"/>
					</div>
					<div class="col-md-3">
					</div>
				</div>

			</form>
		</section>


		<section sec:authorize="hasRole('ROLE_ADMIN')" class="backgroundColorLightOrange margenAbajo2Porc">
			<form th:id="formMenu2" action="#" th:action="@{/adminGimnasio/updateMenu}" method="post">
				<div th:each="menu1, iStat : ${menu1List}">
					<div th:if="${iStat.odd and menu1.nombre != 'Gimnasios'}" class="row">
						<div class="col-md-6">
						</div>
						<div class="col-12 col-md-6">
							<strong><span th:text="${menu1.nombre}"></span></strong>
						</div>
					</div>
					<div th:if="${iStat.odd and menu1.nombre != 'Gimnasios' and menu1.menu2ModelList != null}" th:each="menu2 : ${menu1.menu2ModelList}" class="row">
						<div class="col-md-6">
						</div>
						<div class="col-12 col-md-6">
							<input type="checkbox" th:id="${'checkbox_' + #strings.replace(menu2.nombre, ' ', '_')}" th:name="selectedData" th:value="${menu2.id}" th:checked="${menu2.checked}"><span th:text="${menu2.nombre}"></span>
						</div>
					</div>

					<div th:if="${!iStat.odd and menu1.nombre != 'Gimnasios'}" class="row">
						<div class="col-md-6">
						</div>
						<div class="col-12 col-md-6">
							<strong><span th:text="${menu1.nombre}"></span></strong>
						</div>
					</div>
					<div th:if="${!iStat.odd and menu1.nombre != 'Gimnasios' and menu1.menu2ModelList != null}" th:each="menu2 : ${menu1.menu2ModelList}" class="row">
						<div class="col-md-6">
						</div>
						<div class="col-12 col-md-6">
							<input type="checkbox" th:id="${'checkbox_' + #strings.replace(menu2.nombre, ' ', '_')}" th:name="selectedData" th:value="${menu2.id}" th:checked="${menu2.checked}"><span th:text="${menu2.nombre}"></span>
						</div>
					</div>
				</div>

				<div class="row align-items-center justify-content-end mb-3">
					<div class="col-4 col-md-6">
						<button class="btn btn-primary" type="submit">Actualizar</button>
					</div>
				</div>
			</form>
		</section>

		<div class="row align-items-center justify-content-end">
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/adminGimnasio/}">Volver</a>
			</div>
		</div>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>