<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta th:replace="static/cabeceraMeta :: meta">
    <link th:replace="static/cabeceraLink :: link">
    <script th:replace="static/cabeceraScript :: script"></script>
    <script th:replace="static/cabeceraScriptJquery :: script"></script>

    <title>Autorizaciones</title>

</head>
<body>
    <div th:replace="static/barraUsuario :: div"></div>
    <div th:replace="static/barraNav :: nav"></div>

    <div class="container">

        <section>
            <div class="row align-items-center justify-content-end">
                <div class="col-3 col-md-2">
                    <a class="btn btn-info" href="#" th:href="@{/adminGimnasio/}">Volver</a>
                </div>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-12 colorGreen">
                    <h1>Autorizaciones <span th:text="${gymName}"></span></h1>
                </div>
            </div>
        </section>

        <section sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:id="formMenu2" action="#" th:action="@{/adminGimnasio/updateMenu}" method="post">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col"></th>
                        <th scope="col">Fecha creación</th>
                        <th scope="col">DNI autorizador</th>
                        <th scope="col">Nombre autorizado</th>
                        <th scope="col">Sección</th>
                        <th class="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="gymFile : ${gymFiles}">
                        <td><input type="checkbox" th:id="${'checkbox_' + gymFile.id}" th:name="selectedData" th:value="${gymFile.id}"></td>
                        <td><span th:text="${#calendars.format(gymFile.creationDate,'dd/MM/yyyy')}"></span></td>
                        <td><span th:text="${gymFile.idCard}"></span></td>
                        <td><span th:text="${gymFile.name}"></span></td>
                        <td><span th:text="${gymFile.section}"></span></td>
                        <td>
                            <a href="#" th:href="@{/adminGimnasio/download/__${gymFile.id}__}" class="textDecoration-none">
                                <button class="btn btn-success" type="button">Descarga</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </section>

        <div class="row align-items-center justify-content-end">
            <div class="col-3 col-md-2">
                <a class="btn btn-info" href="#" th:href="@{/adminGimnasio/}">Volver</a>
            </div>
        </div>
    </div>

</body>

<footer th:replace="static/footer :: footer"></footer>
</html>