<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Usuario</title>
	
	<script type="text/javascript">
        function changeRole(username){
            var relativeUrl = "usuario/rol/" + username + "/" + document.getElementById("rolSelect" + username).value;
            var domain = getDomain(location.href);
            location.href = domain + relativeUrl;
        }

		function confirmDelete(id,nombre){
			if(confirm("¿Seguro que desea eliminar a " + nombre + " en lugar de deshabilitarlo? Se perderá toda la información")){
				var relativeUrl = "usuario/remove/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
				return true;
			}
			return false;
		}
	</script>
</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>
	
	<div class="container">
		<section class="margenArribaAbajo3Porc text-center">
			<div th:if="${updateOK != null}" class="alert alert-success" role="alert"><span th:text="${updateOK}"></span></div>
		</section>

		<section>
			<div class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/usuario/users}">Volver</a>
				</div>
			</div>
			<div class="row mb-1 text-center">
				<div class="col-12 colorGreen">
					<h1>Detalles de usuario</h1>
					<h1><span th:text="${user.name}"></span> <span th:text="${user.lastname}"></span> <span th:text="${user.secondLastname}"></span></h1>
				</div>
			</div>
		</section>

		<section sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="dni">DNI:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.username}" id="dni" class="form-control" size="20" disabled/>
				</div>

				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2 text-center">
					<label for="fechaAlta">Fecha de alta:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${#calendars.format(user.fechaAlta,'dd/MM/yyyy')}" id="fechaAlta" class="form-control" size="20" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="name">Nombre:</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${user.name}" id="name" class="form-control" placeholder="Nombre" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="lastname">Primer apellido:</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${user.lastname}" id="lastname" class="form-control" placeholder="Primer apellido" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="secondLastname">Segundo apellido:</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:value="${user.secondLastname}" id="secondLastname" class="form-control" placeholder="Segundo apellido" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div th:if="${!loggedUser}" class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="secondLastname">Habilitado:</label>
				</div>
				<div class="col-9 col-md-8">
					<label class="containercheckbox">
						<a href="#" th:href="@{/usuario/enabled/__${user.username}__}">
							<input type="checkbox" th:checked="${user.enabled}">
							<span class="checkmark"></span>
						</a>
					</label>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="telefono">Teléfono:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.telefono}" id="telefono" class="form-control" size="20" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="sexo">Sexo:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.sexo}" id="sexo" class="form-control" size="20" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="fechaNacimiento">Fecha de nacimiento:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="date" th:value="${#calendars.format(user.fechaNacimiento,'dd/MM/yyyy')}" id="fechaNacimiento" class="form-control" size="20" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label  th:attr="for=|rolSelect${user.username}|">Rol del usuario:</label>
				</div>
				<div class="col-6 col-md-3">
					<select th:attr="id=|rolSelect${user.username}|" class="form-select">
						<option th:each="unit : ${userRoleList}" th:value="${unit.role}" th:text="${unit.role}" th:selected="${unit.role==user.userRoles[0]}"></option>
					</select>
				</div>
				<div class="col-3 col-md-7">
					<button th:if="${!loggedUser}" class="btn btn-success" th:attr="onclick=|changeRole('${user.username}')|">Guardar rol</button>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="correo">Dirección de correo electrónico:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.correo}" id="correo" class="form-control" size="60" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<span>Domicilio</span>
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioCalle">Tipo y nombre vía</label>
				</div>
				<div class="col-6 col-md-8">
					<input type="text" th:value="${user.domicilioCalle}" id="domicilioCalle" class="form-control" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioNumero">Número</label>
				</div>
				<div class="col-6 col-md-8">
					<input type="text" th:value="${user.domicilioNumero}" id="domicilioNumero" class="form-control" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioOtros">Otros datos</label>
				</div>
				<div class="col-6 col-md-8">
					<input type="text" th:value="${user.domicilioOtros}" id="domicilioOtros" class="form-control" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioLocalidad">Localidad</label>
				</div>
				<div class="col-6 col-md-8">
					<input type="text" th:value="${user.domicilioLocalidad}" id="domicilioLocalidad" class="form-control" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2 text-center">
				</div>
				<div class="col-3 col-md-2 text-center">
					<label for="domicilioCp">Código postal</label>
				</div>
				<div class="col-6 col-md-8">
					<input type="text" th:value="${user.domicilioCp}" id="domicilioCp" class="form-control" size="60" disabled/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="pais">País:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.pais.nombre}" id="pais" class="form-control" size="40" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2 text-center">
					<label for="gimnasio">Gimnasio:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.gimnasio.nombre}" id="gimnasio" class="form-control" size="40" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2 text-center">
					<label for="cinturon">Cinturón actual:</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:value="${user.cinturon.color}" id="cinturon" class="form-control" size="40" disabled/>
				</div>
				<div class="col-5 col-md-7">
				</div>
			</div>

			<div class="row align-items-center justify-content-end">
				<div class="col-5">
					<button th:if="${!loggedUser}" class="btn btn-danger" th:attr="onclick=|confirmDelete('${user.username}','${user.name}')|">Borrar Usuario</button>
				</div>
				<div class="col-3">
				</div>
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/usuario/users}">Volver</a>
				</div>
			</div>
		</section>

	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>