<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta th:replace="static/cabeceraMeta :: meta">
		<link th:replace="static/cabeceraLink :: link">
		<script th:replace="static/cabeceraScript :: script"></script>

		<title>Administración de gimnasio</title>
	</head>
	<body>
		<div th:replace="static/barraUsuario :: div"></div>
		<div th:replace="static/barraNav :: nav"></div>

		<div class="container text-center">
			<section>
				<div class="row align-items-center justify-content-end">
					<div class="col-md-2">
					</div>
					<div class="col-6 col-md-8 colorGreen">
						<h1>Administración  <span th:text="${gimnasio.nombreGimnasio}"></span></h1>
					</div>
					<div class="col-3 col-md-2">
						<a class="btn btn-info" href="#" th:href="@{/admin/adminList}">Volver</a>
					</div>
				</div>
			</section>

			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="#" th:href="@{/usuario/users}" class="textDecoration-none">
					<button class="btn btn-success btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Usuarios</button>
				</a>
			</section>
			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="#" th:href="@{/adminMandato/}" class="textDecoration-none">
					<button class="btn btn-info btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Mandatos Licencia Federativa</button>
				</a>
			</section>
			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="#" th:href="@{/adminUtil/utilList}" class="textDecoration-none">
					<button class="btn btn-success btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Parámetros</button>
				</a>
			</section>
			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="#" th:href="@{/adminCinturon/cinturonList}" class="textDecoration-none">
					<button class="btn btn-info btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Cinturones</button>
				</a>
			</section>

		</div>
	</body>

	<footer th:replace="static/footer :: footer"></footer>
</html>