<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta th:replace="static/cabeceraMeta :: meta">
		<link th:replace="static/cabeceraLink :: link">
		<script th:replace="static/cabeceraScript :: script"></script>

		<title>Inscripción finalizada</title>
	</head>
	<body>
		<div th:replace="static/barraUsuario :: div"></div>
		<div th:replace="static/barraNav :: nav"></div>

		<div sec:authorize="isAuthenticated()" class="container">

			<div th:if="${inscripcionCorrecta != null}" class="alert alert-success textAlignCenter" role="alert"><span th:text="${inscripcionCorrecta}"></span></div>

			<section class="text-center">
				<a href="#" th:href="@{/principal/}" class="textDecoration-none">
					<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Volver a página principal</button><br>
				</a>
			</section>


		</div>
	</body>

	<footer th:replace="static/footer :: footer"></footer>
</html>