<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Mandato adulto</title>

	<script type="text/javascript">
		function validar(){
			var campo = ['domicilioCalle','domicilioLocalidad','domicilioCp'];
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
				if(nombreRol.value==''){
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

			var isChecked = document.getElementById('gridCheck').checked;
			if(!isChecked){
				document.getElementById('gridCheckError').innerHTML = "Obligatorio para continuar";
				validado = false;
			}

			if(validado){
				buttonBlock(document.getElementById('continueButton'));
				return true;
			} else {
				document.getElementById('hayError').innerHTML = "Por favor rellenar campos obligatorios";
				return false;
			}
		}

		function restablecer(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].innerHTML='';
			}
			document.getElementById('hayError').innerHTML = '';
			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>
	
	<div class="container">

		<h1 th:text="${titulo}"></h1>

		<section th:if="${addKO != null}" class="margenArribaAbajo3Porc text-center">
			<div class="alert alert-danger" role="alert"><span th:text="${addKO}"></span></div>
		</section>
		
		<form action="#" th:action="@{/mandato/guardarAdulto}" th:object="${mandatoModel}" method="post" onsubmit="return validar()">

			<input type="hidden" th:field="*{nombreMandante}" />
			<input type="hidden" th:field="*{apellido1Mandante}" />
			<input type="hidden" th:field="*{apellido2Mandante}" />
			<input type="hidden" th:field="*{dniMandante}" />

			<div class="row mt-2 mb-1">
				<div class="col-3 col-md-2">
					<label for="nombre">Nombre</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{nombreMandante}" id="nombre" class="form-control" placeholder="Nombre" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="apellido1">Primer apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{apellido1Mandante}" id="apellido1" class="form-control" placeholder="Primer apellido" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="apellido2">Segundo apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{apellido2Mandante}" id="apellido2" class="form-control" placeholder="Segundo apellido" size="60" disabled/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="dni">DNI</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="text" th:field="*{dniMandante}" id="dni" class="form-control" disabled />
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2">
					<label for="idGimnasio">Gimnasio*</label>
				</div>
				<div class="col-9 col-md-3">
					<select th:field="*{codigoGimnasio}" id="idGimnasio" class="form-select">
						<option th:each="p : ${gimnasios}" th:value="${p.id}" th:text="${p.nombreGimnasio}"></option>
					</select>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-12 col-md-2">
					<strong>Domicilio</strong>
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioCalle">Tipo y nombre vía*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{domicilioCalle}" id="domicilioCalle" class="form-control" placeholder="Tipo y nombre de vía" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioNumero">Número</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{domicilioNumero}" id="domicilioNumero" class="form-control" placeholder="Número" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioOtros">Otros datos</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{domicilioOtros}" id="domicilioOtros" class="form-control" placeholder="Otros datos (piso, escalera, etc.)" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioLocalidad">Localidad*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{domicilioLocalidad}" id="domicilioLocalidad" class="form-control" placeholder="Localidad" size="60"/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioCp">Código postal*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{domicilioCp}" id="domicilioCp" class="form-control" placeholder="Código postal" size="60"/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2">
					<label for="idPais">País*</label>
				</div>
				<div class="col-9 col-md-3">
					<select th:field="*{pais}" id="idPais" class="form-select">
						<option th:each="p : ${listaPaises}" th:value="${p.nombre}" th:text="${p.nombre}"></option>
					</select>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-1 col-md-6">
				</div>
				<div class="col-11 col-md-6 form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck">
					<label class="form-check-label" for="gridCheck"> Acepta los <a href="http://www.championdo.es/POLITICA-DE-PRIVACIDAD.html" target="_blank">términos y condiciones</a></label>
					<br>
					<span id="gridCheckError" name="errorSpan" class="colorRed"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-2">
					<a class="btn btn-info" href="#" th:href="@{/mandato/mandatos}">Volver</a>
				</div>
				<div class="col-2">
				</div>
				<div class="col-2">
					<button class="btn btn-success" id="continueButton" type="submit">Continuar</button>
				</div>
				<div class="col-4">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-6">
				</div>
				<div class="col-6">
					<span id="hayError" class="colorRed"></span>
				</div>
			</div>

		</form>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>