<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Inscripción propia</title>

	<script type="text/javascript">
		function validar(){
			var isDomiciliacion = document.getElementById('domiciliacionCheck').checked;
			var campo;
			if (isDomiciliacion) {
				campo = ['nombre','apellido1','telefono','fechaNacimiento','domicilioCalle','domicilioLocalidad','domicilioCp','titular','iban'];
			} else {
				campo = ['nombre','apellido1','telefono','fechaNacimiento','domicilioCalle','domicilioLocalidad','domicilioCp'];
			}
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
				if(nombreRol.value==''){
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

			var isChecked = document.getElementById('gridCheck').checked;
			if(!isChecked){
				document.getElementById('gridCheckError').innerHTML = "Obligatorio para continuar";
				validado = false;
			}

			if(validado){
				buttonBlock(document.getElementById('continueButton'));
				return true;
			} else {
				document.getElementById('hayError').innerHTML = "Por favor rellenar campos obligatorios";
				return false;
			}
		}

		function restablecer(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].innerHTML='';
			}
			document.getElementById('hayError').innerHTML = '';
			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}

		function visibilidadDomiciliacion(){
			var domiciliacion = document.getElementById('domiciliacion');
			if(document.getElementById('domiciliacionCheck').checked) {
				domiciliacion.className = 'bloqueNormal';
			} else {
				domiciliacion.className = 'bloqueOpaco';
				document.getElementById('titular').style.borderColor="#ced4da";
				document.getElementById('iban').style.borderColor="#ced4da";
			}
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>

	<div class="container">
		
		<form sec:authorize="isAuthenticated()" action="#" th:action="@{/gimnasio/gaurdarPropia}" th:object="${userAutorizacionModel}" method="post" onsubmit="return validar()">

			<input type="hidden" name="mayorAutorizador.username" th:value="*{mayorAutorizador.username}"/>
			<input type="hidden" name="mayorAutorizador.correo" th:value="*{mayorAutorizador.correo}"/>
			<input type="hidden" name="mayorAutorizador.codigoGimnasio" th:value="*{mayorAutorizador.codigoGimnasio}"/>
			<input type="hidden" name="mayorAutorizador.licencia" th:value="${licencia}"/>

			<div class="row mt-2 mb-1">
				<div class="col-3 col-md-2">
					<label for="nombre">Nombre*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.name}" id="nombre" class="form-control" placeholder="Nombre" size="60"/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="apellido1">Primer apellido*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.lastname}" id="apellido1" class="form-control" placeholder="Primer apellido" size="60"/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="apellido2">Segundo apellido</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.secondLastname}" id="apellido2" class="form-control" placeholder="Segundo apellido" size="60"/>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="sexo">Sexo*</label>
				</div>
				<div class="col-9 col-md-3">
					<select th:field="*{mayorAutorizador.sexo}" id="sexo" class="form-select">
						<option th:each="s : ${listaSexo}" th:value="${s}" th:text="${s}"></option>
					</select>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="dni">DNI</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="text" th:field="*{mayorAutorizador.username}" id="dni" class="form-control" disabled	/>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="telefono">Teléfono*</label>
				</div>
				<div class="col-4 col-md-3">
					<input type="text" th:field="*{mayorAutorizador.telefono}" id="telefono" class="form-control" placeholder="Teléfono" size="20"/>
				</div>
				<div class="col-5 col-md-7 form-check">
					<input class="form-check-input" type="checkbox" id="whatsappCheck" th:field="*{mayorAutorizador.autorizaWhatsApp}">
					<label class="form-check-label" for="whatsappCheck"> Incluir mi número en grupo de WhatsApp</label>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2">
					<label for="fechaNacimiento">Fecha de nacimiento*</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="date" th:field="*{mayorAutorizador.fechaNacimiento}" id="fechaNacimiento" class="form-control" placeholder="Fecha nacimiento"/>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-12 col-md-2">
					<strong>Domicilio</strong>
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioCalle">Tipo y nombre vía*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.domicilioCalle}" id="domicilioCalle" class="form-control" placeholder="Tipo y nombre de vía" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioNumero">Número</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.domicilioNumero}" id="domicilioNumero" class="form-control" placeholder="Número" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioOtros">Otros datos</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.domicilioOtros}" id="domicilioOtros" class="form-control" placeholder="Otros datos (piso, escalera, etc.)" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioLocalidad">Localidad*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.domicilioLocalidad}" id="domicilioLocalidad" class="form-control" placeholder="Localidad" size="60"/>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-2">
				</div>
				<div class="col-3 col-md-2">
					<label for="domicilioCp">Código postal*</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.domicilioCp}" id="domicilioCp" class="form-control" placeholder="Código postal" size="60"/>
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="idPais">País*</label>
				</div>
				<div class="col-9 col-md-3">
					<select th:field="*{mayorAutorizador.pais.id}" id="idPais" class="form-select">
						<option th:each="p : ${listaPaises}" th:value="${p.id}" th:text="${p.nombre}"></option>
					</select>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-3 col-md-2">
					<label for="correo">Correo electrónico</label>
				</div>
				<div class="col-9 col-md-8">
					<input type="text" th:field="*{mayorAutorizador.correo}" id="correo" class="form-control" placeholder="Email" size="100" disabled />
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-3 col-md-2">
					<label for="idCinturon">Cinturón actual*</label>
				</div>
				<div class="col-9 col-md-3">
					<select th:field="*{mayorAutorizador.cinturon.id}" id="idCinturon" class="form-select">
						<option th:each="c : ${listaCinturones}" th:value="${c.id}" th:text="${c.color}"></option>
					</select>
				</div>
				<div class="col-md-7">
				</div>
			</div>

			<div th:if="${accountBoxEnable}" class="row mb-1">
				<div class="col-lg-2">
				</div>
				<div class="col-12 col-lg-10 apartado">
					<input class="form-check-input" type="checkbox" id="domiciliacionCheck" onchange="visibilidadDomiciliacion()" name="mayorAutorizador.domiciliacion" checked="checked">
					<label class="form-check-label" for="domiciliacionCheck"><span>Cuenta domiciliación de cuota</span></label>
				</div>
			</div>

			<div th:if="${accountBoxEnable}" id="domiciliacion">
				<div class="row mb-1">
					<div class="col-lg-2">
					</div>
					<div class="col-3 col-sm-2 col-lg-1">
						<label for="titular">Titular*</label>
					</div>
					<div class="col-9 col-sm-10 col-lg-9">
						<input type="text" th:field="*{cuentaBancaria.titular}" id="titular" class="form-control" placeholder="Nombre completo del titular de la cuenta" size="100"/>
					</div>
				</div>

				<div class="row mb-1">
					<div class="col-lg-2">
					</div>
					<div class="col-3 col-sm-2 col-lg-1">
						<label for="iban">IBAN*</label>
					</div>
					<div class="col-9 col-sm-10 col-lg-9">
						<input type="text" th:field="*{cuentaBancaria.iban}" id="iban" class="form-control" placeholder="IBAN de la cuenta" size="34"/>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-lg-2">
					</div>
					<div class="col-3 col-sm-2 col-lg-1">
						<label for="swift">SWIFT/BIC</label>
					</div>
					<div class="col-9 col-sm-10 col-lg-9">
						<input type="text" th:field="*{cuentaBancaria.swift}" id="swift" class="form-control" placeholder="Código SWIFT o BIC (no necesario para cuentas españolas)" size="11"/>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-1 col-md-6">
				</div>
				<div class="col-11 col-md-6 form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck">
					<label class="form-check-label" for="gridCheck"> Acepta los <a href="http://www.championdo.es/POLITICA-DE-PRIVACIDAD.html" target="_blank">términos y condiciones</a></label>
					<br>
					<span id="gridCheckError" name="errorSpan" class="colorRed"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-2">
					<a class="btn btn-info" href="#" th:href="@{/gimnasio/tipoInscripcion}">Volver</a>
				</div>
				<div class="col-2">
				</div>
				<div class="col-2">
					<button class="btn btn-success" id="continueButton" type="submit">Continuar</button>
				</div>
				<div class="col-4">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-6">
				</div>
				<div class="col-6">
					<span id="hayError" class="colorRed"></span>
				</div>
			</div>

		</form>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>