<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Adjuntar archivo</title>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>

	<section class="margenArribaAbajo3Porc text-center">
		<div th:if="${subidaError != null}" class="alert alert-danger textAlignCenter" role="alert"><span th:text="${subidaError}"></span></div>
	</section>
	<div class="container">

		<section sec:authorize="isAuthenticated()">
			<div class="row text-center mb-5">
				<div class="col-12">
					<form action="#" th:action="@{/gimnasio/descargarPdf}" th:object="${pdfModel}" method="POST">
						<input type="hidden" name="dni" th:value="${inscripcion.mayorDni}"/>
						<input type="hidden" name="dniMenor" th:value="${inscripcion.autorizadoDni}"/>
						<input type="hidden" name="idInscripcion" th:value="${inscripcion.id}"/>
						<input type="hidden" name="mayorEdad" th:value="!${inscripcion.autorizadoMenor}"/>
						<input type="hidden" name="seccion" th:value="normativaSEPA"/>
						<button class="btn btn-info" type="submit">Descargar formulario domiciliación sin firmar</button>
					</form>
				</div>
			</div>

			<form action="#" th:action="@{/gimnasio/normativa-sepa-firmado}" method="post" enctype="multipart/form-data">
				<div class="row text-center mb-5">
					<div class="col-12">
							<input type="file" name="file" accept=".jpg, .jpeg, .pdf, .doc, .docx">
							<input type="hidden" name="idInscripcion" th:value="${inscripcion.id}"/>
					</div>
				</div>
				<div class="row text-center mb-3">
					<div class="col-12">
							<button class="btn btn-success" type="submit">Subir formulario domiciliación firmado</button>
					</div>
				</div>
			</form>

			<div class="row text-center mb-3">
				<div class="col-12">
					<h3>Extensiones de archivo aceptadas: .jpg, .jpeg, .pdf, .doc, .docx</h3>
				</div>
			</div>
		</section>

		<div class="row align-items-center justify-content-end">
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/gimnasio/tipoInscripcion}">Volver</a>
			</div>
			<div class="col-5">
			</div>
		</div>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>