<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Código de validación</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/utils.js}"></script>

    <script type="text/javascript">
		function validar(){
			var campo = ['codigo'];
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
				if(nombreRol.value==''){
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

			if(validado){
				buttonBlock(document.getElementById('continueButton'));
				buttonBlock(document.getElementById('cancelButton'));
				return true;
			} else {
				document.getElementById('hayError').innerHTML = "Por favor rellenar campos obligatorios";
				return false;
			}
		}

		function restablecer(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].innerHTML='';
			}
			document.getElementById('hayError').innerHTML = '';
			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}
	</script>

  </head>

  <body>

    <div class="container">
      <h1>¡Hola <span th:text="${usuario.name}"></span>! <a href="#" th:href="@{/usuario/formularioUsuario}"><span class="glyphicon glyphicon-user"></span></a></h1>

      <nav class="navbar navbar-default" role="navigation">
        <form th:action="@{/logout}" method="POST">
          <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
        </form>
      </nav>

      <div th:if="${inscripcionError != null}" class="alert alert-danger" role="alert"><span th:text="${inscripcionError}"></span></div>

      <form action="#" th:action="@{/seguridad/validarCodigo}" th:object="${firmaCodigoModel}" method="post" onsubmit="return validar()">
        <input type="hidden" name="idOperacion" th:value="*{idOperacion}"/>
        <input type="hidden" name="operativaOriginal" th:value="*{operativaOriginal}"/>

        <div class="row mb-3">
          <div class="col-md-2 apartado">
          </div>
          <div class="col-xs-9 col-md-8 text-center">
            <h2>Para confirmar la validez de esta operación por favor intruduzca el código enviado
              por correo electrónico <span th:if="${direccionCorreo != null}" th:text="${direccionCorreo}"></span></h2>
            <h2>Cuenta con 15 minutos y 3 intentos</h2>
          </div>
          <div class="col-xs-3 col-md-2">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-2">
          </div>
          <div class="col-xs-3 col-md-2 text-center">
            <label for="codigo">Código* </label>
          </div>
          <div class="col-xs-9 col-md-8">
            <input type="text" th:field="*{codigo}" id="codigo" class="form-control" placeholder="Código" size="6"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <a class="colorOrange" href="#" th:href="@{'/gimnasio/nuevoEnvioCodigo/' + ${firmaCodigoModel.idOperacion}}">Enviar nuevo código al correo</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
            <a class="btn btn-default pull-right" id="cancelButton" href="#" th:href="@{/principal/}">Firmar más tarde</a>
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-success" id="continueButton" type="submit">Firmar ahora</button>
          </div>
          <div class="col-xs-4">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 mb-3">
          </div>
          <div class="col-xs-6 mb-3">
            <span id="hayError" class="colorRed"></span>
          </div>
        </div>

      </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
  </body>
</html>