<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta th:replace="static/cabeceraMeta :: meta">
    <link th:replace="static/cabeceraLink :: link">
    <script th:replace="static/cabeceraScript :: script"></script>
    <script th:replace="static/cabeceraScriptJquery :: script"></script>

    <script type="text/javascript">
    $(document).ready(function()
    {
        $("#sortable").sortable(
        {

            start: function(e, ui) {
                // creates a temporary attribute on the element with the old index
                $(this).attr('data-previndex', ui.item.index());
                //console.log("oldIndex: " + $(this).attr('data-previndex'));
            },
            update: function(e, ui) {
                // gets the new and old index then removes the temporary attribute
                var newIndex = ui.item.index();
                //console.log("newIndex: " + newIndex);
                var oldIndex = $(this).attr('data-previndex');
                var idTorneo = $("#idTorneo").val();
                var relativeUrl = "adminTorneoGimnasio/torneoGimnasio/" + idTorneo + "/" + oldIndex + "/" + newIndex;
                var domain = getDomain(location.href);
                $(this).removeAttr('data-previndex');
                //console.log(location.href + " - " + domain + relativeUrl);
                location.href = domain + relativeUrl;
            }
        });
    }
    );

		function validar(){
			var campo = ['nombreGimnasio'];
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
				if(nombreRol.value==''){
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

			return validado;
		}

		function restablecer(){
			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}

		function confirmDelete(){
            var torneoGimnasioElegido = document.getElementById('idTorneoGimnasio').selectedOptions[0];
			if(confirm("¿Seguro que desea eliminar " + torneoGimnasioElegido.text + "?")){
                var relativeUrl = "adminTorneoGimnasio/torneoGimnasio/remove/" + torneoGimnasioElegido.value;
                var domain = getDomain(location.href);
                location.href = domain + relativeUrl;
				return true;
			}
			return false;
		}
    </script>

</head>
<body>
    <div th:replace="static/barraUsuario :: div"></div>
    <div th:replace="static/barraNav :: nav"></div>
    
    <div class="container">
        <section class="margenArribaAbajo3Porc text-center">
            <div th:if="${removeProblem != null}" class="alert alert-danger textAlignCenter" role="alert"><span th:text="${removeProblem}"></span></div>
        </section>

        <section>
            <div class="row align-items-center justify-content-end">
                <div class="col-3 col-md-2">
                    <a class="btn btn-info" href="#" th:href="@{/adminTorneo/torneo/__${torneo.id}__}">Volver</a>
                </div>
            </div>
            <div class="row mb-1 text-center">
                <div class="col-12 colorGreen">
                    <h1>Gimnasios de <span th:text="${torneo.nombre}"></span></h1>
                </div>
            </div>
        </section>

        <section  sec:authorize="hasRole('ROLE_ADMIN')">
            <form action="#" th:action="@{/adminTorneoGimnasio/addTorneoGimnasio}" th:object="${torneoGimnasioModel}" method="post" onsubmit="return validar()">

                <input type="hidden" name="idTorneo" id="idTorneo" th:value="${torneo.id}"/>
                <div class="row mb-3">
                    <div class="col-12 col-md-2">
                        <label for="nombreGimnasio">Nombre del gimnasio:</label>
                    </div>
                    <div class="col-9 col-md-2 mb-3">
                        <input type="text" th:field="*{nombreGimnasio}" id="nombreGimnasio" class="form-control" placeholder="Nombre del gimnasio" maxlength="100" />
                    </div>
                    <div class="col-3 col-md-1 mb-3">
                        <button class="btn btn-success" type="submit">Alta</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-7 col-md-3">
                        <select id="idTorneoGimnasio" class="form-select">
                            <option th:each="unit : ${torneoGimnasioList}" th:value="${unit.id}" th:text="${unit.nombreGimnasio}"></option>
                        </select>
                    </div>
                    <div class="col-3 col-md-1">
                        <button class="btn btn-danger" onclick="confirmDelete()">Borrar</button>
                    </div>
                </div>
            </form>

            <div class="row">
              <div class="col-3 col-md-4">
              </div>
              <div class="col-5 col-md-3">
                  <ul id="sortable" class="list-group mb-1">
                      <li th:each="unit : ${torneoGimnasioList}" th:value="${unit.id}" th:text="${unit.nombreGimnasio}" class="list-group-item move">
                      </li>
                  </ul>
              </div>
              <div class="col-4 col-md-5">
              </div>
            </div>
        </section>

        <div class="row align-items-center justify-content-end">
            <div class="col-3 col-md-2">
                <a class="btn btn-info" href="#" th:href="@{/adminTorneo/torneo/__${torneo.id}__}">Volver</a>
            </div>
        </div>
    </div>

</body>

<footer th:replace="static/footer :: footer"></footer>
</html>