<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="#" th:href="@{/css/style.css}" />

	<script type="text/javascript" th:src="@{/js/utils.js}"></script>

	<title>Principal torneo</title>

	<script type="text/javascript">
        function goDetail(id,propia){
            var relativeUrl;
            if(propia == 'true'){
            	relativeUrl = "formulario/getPropia/" + id;
            } else {
            	relativeUrl = "formulario/getMenorOInclisivo/" + id;
            }
            var domain = getDomain(location.href);
            location.href = domain + relativeUrl;
        }
	</script>
</head>
<body>
	<div class="container">
		<h1>
			¡Hola <span th:text="${usuario.name}"></span>!
			<a href="#" th:href="@{/usuario/formularioUsuario}"><span class="glyphicon glyphicon-user"></span></a>
		</h1>
		<nav class="navbar navbar-default" role="navigation">
			<form th:action="@{/logout}" method="POST">
				<button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
			</form>
		</nav>

		<section class="text-center">
			<div th:if="${inscripcionError != null}" class="alert alert-danger" role="alert">Hubo problemas al guardar la información</div>
			<div th:if="${inscripcionCorrecta != null}" class="alert alert-success" role="alert">Información actualizada correctamente</div>
		</section>

		<section>
			<div class="row">
				<div class="col-xs-2 mb-1">
				</div>

				<div class="col-xs-8 mb-10 colorGreen">
					<h1>Inscripción a torneos</h1>
				</div>

				<div class="col-xs-2 mb-1">
					<a class="btn btn-info pull-right" href="#" th:href="@{/principal/}">Volver</a>
				</div>
			</div>
		</section>

		<section class="text-center">
			<a href="#" th:href="@{/formulario/selectTournament/adulto}" class="textDecoration-none">
				<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Inscripción propia</button><br>
			</a>

			<a href="#" th:href="@{/formulario/selectTournament/menor}" class="textDecoration-none">
				<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Autorización menor de 16 años</button><br>
			</a>

			<a href="#" th:href="@{/formulario/selectTournament/inclusivo}" class="textDecoration-none">
				<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Autorización inclusiva</button><br>
			</a>
		</section>

		<section>
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th scope="col">Fecha inscripción</th>
					<th scope="col">Nombre torneo</th>
					<th scope="col">Fecha torneo</th>
					<th scope="col">Participante</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="inscripcion : ${inscripciones}" th:attr="onclick=|goDetail('${inscripcion.id}','${inscripcion.inscripcionPropia}')|">
					<td><span th:text="${#calendars.format(inscripcion.fechaInscripcion,'dd/MM/yyyy')}"></span></td>
					<td><span th:text="${inscripcion.nombreTorneo}"></span></td>
					<td><span th:text="${inscripcion.fechaTorneo}"></span></td>
					<td><span th:text="${inscripcion.nombre+' '+inscripcion.apellido1+' '+inscripcion.apellido2}"></span></td>
				</tr>
				</tbody>
			</table>
		</section>
		
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>