<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Detalles de Autorización</title>

	<script>
		function confirmDelete(id){
			if(confirm("¿Seguro que desea eliminar la inscripción?")){
				var relativeUrl = "tournamentRegistration/delete/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
				return true;
			}
			return false;
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>
	
	<div sec:authorize="isAuthenticated()" class="container">

		<div class="row align-items-center justify-content-end mt-2">
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/tournamentRegistration/mainPage}">Volver</a>
			</div>
		</div>

		<div class="row mt-2 mb-1">
			<div class="col-12 col-md-2">
				<strong>Datos del adulto</strong>
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerName">Nombre</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{tournamentRegistration.authorizerName}" id="authorizerName" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizer1Lastname">Primer apellido</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizer1Lastname}" id="authorizer1Lastname" class="form-control" disabled/>
			</div>
			<div class="col-12 col-md-2 d-flex justify-content-end">
				<form action="#" th:action="@{/formulario/descargarPdf}" th:object="${pdfModel}" method="POST">
					<input type="hidden" name="dni" th:value="*{dni}"/>
					<input type="hidden" name="dniMenor" th:value="*{dniMenor}"/>
					<input type="hidden" name="fechaCampeonato" th:value="*{fechaCampeonato}"/>
					<input type="hidden" name="idInscripcion" th:value="*{idInscripcion}"/>
					<input type="hidden" name="mayorEdad" th:value="*{mayorEdad}"/>
					<button class="btn btn-success" type="submit">Descargar</button>
				</form>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizer2Lastname">Segundo apellido</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{tournamentRegistration.authorizer2Lastname}" id="authorizer2Lastname" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerIdCard">DNI</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.authorizerIdCard}" id="authorizerIdCard" class="form-control" disabled />
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-12 col-md-2">
				<strong>Domicilio</strong>
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerAddressStreet">Tipo y nombre vía</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizerAddressStreet}" id="authorizerAddressStreet" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-4">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerAddressNumber">Número</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizerAddressNumber}" id="authorizerAddressNumber" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-4">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerAddressOther">Otros datos</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizerAddressOther}" id="authorizerAddressOther" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-4">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerAddressCity">Localidad</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizerAddressCity}" id="authorizerAddressCity" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-4">
			</div>
			<div class="col-3 col-md-2">
				<label for="authorizerAddressPostcode">Código postal</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.authorizerAddressPostcode}" id="authorizerAddressPostcode" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="relationship">En calidad de</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.relationship}" id="relationship" class="form-control" disabled	/>
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-12 col-md-2">
				<strong>Datos del autorizado</strong>
			</div>
			<div class="col-3 col-md-2">
				<label for="registeredName">Nombre</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{tournamentRegistration.registeredName}" id="registeredName" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registered1Lastname">Primer apellido</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{tournamentRegistration.registered1Lastname}" id="registered1Lastname" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registered2Lastname">Segundo apellido</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{tournamentRegistration.registered2Lastname}" id="registered2Lastname" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registeredSex">Sexo</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.registeredSex}" id="registeredSex" class="form-control" disabled/>
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registeredIdCard">DNI</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.registeredIdCard}" id="registeredIdCard" class="form-control" disabled/>
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registeredBirthdate">Fecha de nacimiento</label>
			</div>
			<div class="col-5 col-md-4">
				<span th:text="${#calendars.format(tournamentRegistration.registeredBirthdate,'dd/MM/yyyy')}" id="registeredBirthdate"></span>
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="country">País</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.country}" id="country" class="form-control" disabled />
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="gym">Gimnasio</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.gym}" id="gym" class="form-control" disabled />
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="belt">Cinturón actual</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.belt}" id="belt" class="form-control" disabled />
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="registrationDate">Fecha de inscripción</label>
			</div>
			<div class="col-5 col-md-4">
				<span th:text="${#calendars.format(tournamentRegistration.registrationDate,'dd/MM/yyyy HH:mm')}" id="registrationDate"></span>
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="tournamentName">Nombre del torneo</label>
			</div>
			<div class="col-9 col-md-6">
				<input type="text" th:field="*{tournamentRegistration.tournamentName}" id="tournamentName" class="form-control" disabled />
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="tournamentDate">Fecha del torneo</label>
			</div>
			<div class="col-5 col-md-4">
				<input type="text" th:field="*{tournamentRegistration.tournamentDate}" id="tournamentDate" class="form-control" disabled />
			</div>
			<div class="col-4">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="category">Categoría</label>
			</div>
			<div class="col-2 col-md-3">
				<input type="text" th:field="*{tournamentRegistration.category}" id="category" class="form-control" disabled />
			</div>
			<div class="col-2">
				<label for="idPoomsae">Poomsae</label>
			</div>
			<div class="col-5 col-md-3">
				<input type="text" th:field="*{tournamentRegistration.poomsae}" id="idPoomsae" class="form-control" disabled />
			</div>
		</div>

		<div class="row align-items-center justify-content-end">
			<div class="col-5">
				<button th:if="${deleteEnable}" class="btn btn-danger" th:attr="onclick=|confirmDelete('${tournamentRegistration.id}')|">Borrar Inscripción</button>
			</div>
			<div class="col-3">
			</div>
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/tournamentRegistration/mainPage}">Volver</a>
			</div>
		</div>
		
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>