<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="static/cabeceraMeta :: meta">
	<link th:replace="static/cabeceraLink :: link">
	<script th:replace="static/cabeceraScript :: script"></script>

	<title>Detalles de Inscripción</title>

	<script>
		function confirmDelete(id){
			if(confirm("¿Seguro que desea eliminar la inscripción?")){
				var relativeUrl = "principal/eliminarInscripcion/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
				return true;
			}
			return false;
		}
	</script>

</head>
<body>
	<div th:replace="static/barraUsuario :: div"></div>
	<div th:replace="static/barraNav :: nav"></div>

	<div sec:authorize="isAuthenticated()" class="container">

		<div class="row align-items-center justify-content-end">
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/principal/principalTorneo}">Volver</a>
			</div>
		</div>

		<div class="row mt-2 mb-1">
			<div class="col-3 col-md-2">
				<label for="nombre">Nombre</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.nombreInscripto}" id="nombre" class="form-control" disabled/>
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="apellido1">Primer apellido</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.apellido1Inscripto}" id="apellido1" class="form-control" disabled/>
			</div>
			<div class="col-12 col-md-2 d-flex justify-content-end">
				<form action="#" th:action="@{/formulario/descargarPdf}" th:object="${pdfModel}" method="POST">
					<input type="hidden" name="dni" th:value="*{dni}"/>
					<input type="hidden" name="dniMenor" th:value="*{dniMenor}"/>
					<input type="hidden" name="fechaCampeonato" th:value="*{fechaCampeonato}"/>
					<input type="hidden" name="idInscripcion" th:value="*{idInscripcion}"/>
					<input type="hidden" name="mayorEdad" th:value="*{mayorEdad}"/>
					<button class="btn btn-success" type="submit">Descargar</button>
				</form>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="apellido2">Segundo apellido</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.apellido2Inscripto}" id="apellido2" class="form-control" disabled/>
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="sexo">Sexo</label>
			</div>
			<div class="col-4 col-md-3">
				<input type="text" th:field="*{inscripcion.sexoInscripto}" id="sexo" class="form-control" disabled/>
			</div>
			<div class="col-5 col-md-7">
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="dni">DNI</label>
			</div>
			<div class="col-4 col-md-3">
				<input type="text" th:field="*{inscripcion.dniInscripto}" id="dni" class="form-control" disabled/>
			</div>
			<div class="col-5 col-md-7">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-3 col-md-2">
				<label for="fechaNacimiento">Fecha de nacimiento</label>
			</div>
			<div class="col-9 col-md-3">
				<span th:text="${#calendars.format(inscripcion.fechaNacimientoInscripto,'dd/MM/yyyy')}" id="fechaNacimiento"></span>
			</div>
			<div class="col-md-7">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-12 col-md-2">
				<strong>Domicilio</strong>
			</div>
			<div class="col-3 col-md-2">
				<label for="domicilioCalle">Tipo y nombre vía</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.domicilioCalleInscripto}" id="domicilioCalle" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="domicilioNumero">Número</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.domicilioNumeroInscripto}" id="domicilioNumero" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="domicilioOtros">Otros datos</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.domicilioOtrosInscripto}" id="domicilioOtros" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="domicilioLocalidad">Localidad</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.domicilioLocalidadInscripto}" id="domicilioLocalidad" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-2">
			</div>
			<div class="col-3 col-md-2">
				<label for="domicilioCp">Código postal</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.domicilioCpInscripto}" id="domicilioCp" class="form-control" disabled/>
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="idPais">País</label>
			</div>
			<div class="col-4 col-md-3">
				<input type="text" th:field="*{inscripcion.pais}" id="idPais" class="form-control" disabled />
			</div>
			<div class="col-5 col-md-7">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="idGimnasio">Gimnasio</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.gimnasio}" id="idGimnasio" class="form-control" disabled />
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-1">
			<div class="col-3 col-md-2">
				<label for="idCinturon">Cinturón actual</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.cinturon}" id="idCinturon" class="form-control" disabled />
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-3 col-md-2">
				<label for="fecha">Fecha de inscripción</label>
			</div>
			<div class="col-9 col-md-3">
				<span th:text="${#calendars.format(inscripcion.fechaInscripcion,'dd/MM/yyyy HH:mm')}" id="fecha"></span>
			</div>
			<div class="col-md-7">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-3 col-md-2">
				<label for="torneo">Nombre del torneo</label>
			</div>
			<div class="col-9 col-md-8">
				<input type="text" th:field="*{inscripcion.nombreCampeonato}" id="torneo" class="form-control" disabled />
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-3 col-md-2">
				<label for="fechaCampeonato">Fecha del torneo</label>
			</div>
			<div class="col-9 col-md-3">
				<input type="text" th:field="*{inscripcion.fechaCampeonato}" id="fechaCampeonato" class="form-control" disabled />
			</div>
			<div class="col-md-7">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-3 col-md-2">
				<label for="idCategoria">Categoría</label>
			</div>
			<div class="col-2 col-md-3">
				<input type="text" th:field="*{inscripcion.categoria}" id="idCategoria" class="form-control" disabled />
			</div>
			<div class="col-3 col-md-2">
				<label for="idPoomsae">Poomsae</label>
			</div>
			<div class="col-4 col-md-5">
				<input type="text" th:field="*{inscripcion.poomsae}" id="idPoomsae" class="form-control" disabled />
			</div>
		</div>

		<div class="row align-items-center justify-content-end">
			<div class="col-5">
				<button th:if="${deleteEnable}" class="btn btn-danger" th:attr="onclick=|confirmDelete('${inscripcion.id}')|">Borrar Inscripción</button>
			</div>
			<div class="col-3">
			</div>
			<div class="col-3 col-md-2">
				<a class="btn btn-info" href="#" th:href="@{/principal/principalTorneo}">Volver</a>
			</div>
		</div>
	</div>
</body>

<footer th:replace="static/footer :: footer"></footer>
</html>