<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
	<head>
		<meta th:replace="static/cabeceraMeta :: meta">
		<link th:replace="static/cabeceraLink :: link">
		<script th:replace="static/cabeceraScript :: script"></script>

		<title>Selección gimnasio</title>
		<script>
			function goDetail(controller, id){
				var relativeUrl = controller + "/getInscripcion/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
			}

			function enviarGimnasio(controller, id){
				var relativeUrl = controller + "/tipoInscripcionConGimnasio/" + id;
				var domain = getDomain(location.href);
				location.href = domain + relativeUrl;
			}
		</script>
	</head>
	<body>
		<div th:replace="static/barraUsuario :: div"></div>
		<div th:replace="static/barraNav :: nav"></div>

		<div class="container text-center">
			<div class="row align-items-center justify-content-end">
				<div class="col-md-2">
				</div>
				<div class="col-6 col-md-8 colorGreen">
					<h1>Inscripción a <span th:text="${inscripcionA}"></span></h1>
				</div>
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/principal/}">Volver</a>
				</div>
			</div>


			<section sec:authorize="isAuthenticated()" class="text-center margenArribaAbajo3Porc">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<div class="accordion accordion-flush" id="accordionFlushExample">
							<div th:each="gimnasio : ${gimnasios}" class="accordion-item">
								<h2 class="accordion-header text-center">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#flush-collapse'+${gimnasio.id}, aria-controls='flush-collapse'+${gimnasio.id}" aria-expanded="false">
										<span th:text="${gimnasio.nombreGimnasio}"></span>
									</button>
								</h2>
								<div th:id="'flush-collapse'+${gimnasio.id}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body">
										Gimnasio con id <span th:text="${gimnasio.id}"></span>,
										con dirección en <span th:text="${gimnasio.domicilioCalle}"></span> <span th:text="${gimnasio.domicilioNumero}"></span>,
										<span th:text="${gimnasio.domicilioOtros}"></span> - (<span th:text="${gimnasio.domicilioCp}"></span>) <span th:text="${gimnasio.domicilioLocalidad}"></span>.
										Teléfono <span th:text="${gimnasio.telefono}"></span> y correo <span th:text="${gimnasio.correo}"></span>
										<br/>
										<button class="btn btn-primary" type="button" th:attr="onclick=|enviarGimnasio('${controller}','${gimnasio.id}')|">Elegir</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</section>

			<section sec:authorize="isAuthenticated()">
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>Fecha de realización</th>
						<th>Inscripción de</th>
						<th>Gimnasio</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="autorizacion : ${inscripciones}">
						<td th:attr="onclick=|goDetail('${controller}','${autorizacion.id}')|">
							<span th:text="${#calendars.format(autorizacion.fechaInscripcion,'dd/MM/yyyy HH:mm')}"></span>
						</td>
						<td th:attr="onclick=|goDetail('${controller}','${autorizacion.id}')|">
							<span th:if="${autorizacion.autorizadoNombre != null}" th:text="${autorizacion.autorizadoNombre+' '+autorizacion.autorizadoApellido1+' '+autorizacion.autorizadoApellido2}"></span>
							<span th:if="${autorizacion.autorizadoNombre == null}" th:text="${autorizacion.mayorNombre+' '+autorizacion.mayorApellido1+' '+autorizacion.mayorApellido2}"></span>
						</td>
						<td th:attr="onclick=|goDetail('${controller}','${autorizacion.id}')|">
							<span th:text="${autorizacion.nombreGimnasio}"></span>
						</td>
						<td>
							<a th:if="${autorizacion.inscripcionFirmada and autorizacion.domiciliacionSEPA and not autorizacion.domiciliacionSEPAFirmada}" class="colorRed" href="#" th:href="@{/__${controller}__/normativa-sepa/__${autorizacion.id}__}">¡Toque aquí para adjuntar documentación faltante!</a>
							<a th:if="${!autorizacion.inscripcionFirmada}" class="colorRed" href="#" th:href="@{/seguridad/nuevoEnvioCodigo/__${operativaOriginal}__/__${autorizacion.id}__}">¡Inscripción no firmada! Toque aquí para firmar</a>
						</td>
					</tr>
					</tbody>
				</table>
			</section>

			<div th:if="${inscripciones != null}" class="row align-items-center justify-content-end">
				<div class="col-3 col-md-2">
					<a class="btn btn-info" href="#" th:href="@{/principal/}">Volver</a>
				</div>
			</div>
		</div>
	</body>

	<footer th:replace="static/footer :: footer"></footer>
</html>